table {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  /* 可选，为单元格添加内边距 */
}
blockquote {
  border-left: 4px solid #ccc; /* 左侧边框 */
  margin: 20px; /* 外边距 */
  padding: 10px 20px; /* 内边距 */
  background-color: #f9f9f9; /* 背景色 */
  font-style: italic; /* 斜体 */
  color: #555; /* 字体颜色 */
  quotes: "“" "”" "‘" "’"; /* 引号样式 */
}

blockquote:before {
  content: open-quote; /* 引用开始符号 */
}

blockquote:after {
  content: close-quote; /* 引用结束符号 */
}

blockquote p {
  display: inline; /* 行内显示 */
}
html, body {
  margin: 0;
  padding: 0;
}